/* font-family: "Inter", sans-serif; */

:root {
  --color-primary: #2a3647;
  --color-white: white;
  --color-black: black;
  --color-userstory: #0038ff;
  --color-technical: #1fd7c1;
  --color-input-placeholder: #D1D1D1;
  --color-hover: #29ABE2;
  --color-second-hover: #2A3E59;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f7f8;
}

input, textarea{
  font-family: 'Inter', sans-serif;
  padding-left: 5px;
}

h1 {
  font-size: 47px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 27px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}


.button {
  border-radius: 8px;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.divider-line {
  border-bottom: 3px solid #29abe2;
  width: 88px;
  margin: 16px 0 32px 0;
}

.d-none {
  display: none !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.header-logo {
  height: 39px;
  object-fit: cover;
}

.user-circle {
  border-radius: 999px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29ABE2;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.navigation {
  background-color: var(--color-primary);
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.navbox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 4px;
  width: 80px;
  text-decoration: none;
}

.navbox-bg-color {
  background-color: #091931;
}

.hidden-box {
  width: 200px;
  height: 168px;
  position: absolute;
  right: 0;
  top: 60px;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

.user-menu {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0;
  margin-right: 10px;
  transform: translateX(162px);
  transition: 250ms;
}

.show-menu {
  transform: translateX(0);
}

.user-menu a {
  color: #CDCDCD;
  text-decoration: none;
  padding: 13px 12px;
  font-weight: 400;
}

.privay-policy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 128px 0;
  padding: 0 16px;
}

.privacy-h2 {
  margin: 32px 0 10px 0;
}

.privacy-h3 {
  margin: 32px 0 10px 0;
}

.privacy-h4 {
  margin: 16px 0 10px 0;
}

.privacy-header {
  display: flex;
  justify-content: space-between;
}

.privacy-arrow {
  object-fit: cover;
  cursor: pointer;
  height: 40px;
}

.img-cnt {
  display: none;
}

.desktop-user-notices-box {
  display: none;
}

.h4-header {
  display: none;
}

.explain-box {
  margin-top: 16px;
  display: flex;
  gap: 56px;
  align-items: flex-start;
}

.color-blue {
  color: var(--color-hover);
}

/***** styles for addtask.html ****/

.add-task-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: calc(100vh - 240px);
  overflow-y: scroll;
}

.add-task-container h1 {
  margin-top: 48px;
  margin-bottom: 40px;
  padding-left: 16px
}

.add-task-container input,
textarea,
select {
  border: var(--color-input-placeholder) solid 1px;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}

.add-task-container input:focus,
textarea:focus,
select:focus {
  border: solid 1px #29ABE2;
  outline: none;
}

.input-button-container input:focus {
  outline: none;
  border: none;
}

.add-task-container input,
select {
  height: 40px;
}

.add-task-container label,
.prio-container span {
  display: inline-block;
  margin-bottom: 8px;
}

.required {
  color: #FF8190;
  font-size: 12px;
}

.add-task-footnote-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 80px;
  background-color: #f6f7f8;
  padding: 10px;
}

.task-input-container {
  height: 606px;
  margin: 0 16px;
}

.task-input-container .title-container {
  height: 83px;
  margin-bottom: 8px;
}

.task-input-container .description-container {
  height: 131px;
  margin-bottom: 8px;
}

.task-input-container .description-container textarea {
  height: 88px;
  padding-left: 5px;
  padding-top: 5px;
}

.task-input-container .prio-container {
  height: 88px;
  margin-bottom: 16px;
}

.task-input-container .prio-container #prio {
  height: 88px;
  display: flex;
  gap: 8px;
}

.task-input-container .prio-container #prio button {
  height: 41px;
  flex: 1;
  border-radius: 10px;
  background-color: white;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

#highPrioButtonFont,
#mediumPrioButtonFont,
#lowPrioButtonFont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
}

#highPrioButton:hover,
#mediumPrioButton:hover,
#lowPrioButton:hover {
  cursor: pointer;
}

.font-weight-clicked {
  font-weight: 700 !important;
}

.font-black{
  color: black !important;
}

.prioHigh {
  background-color: rgba(255, 61, 0, 1) !important;
}

.prioMedium {
  background-color: rgba(255, 168, 0, 1) !important;
}

.prioLow {
  background-color: rgba(122, 226, 41, 1) !important;
}

.colored-white {
  filter: brightness(0) invert(1);
}

.task-input-container .due-date-container {
  height: 83px;
  margin-bottom: 16px;
}

.task-input-container .category-container,
.task-input-container .assigned-to-container {
  min-height: 75px;
  margin-bottom: 16px;
}

.task-input-container .subtasks-container {
  height: 75px;
}

.clear-create-button-container{
  display: flex;
  gap: 10px;
}

.add-task-footnote-container button {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 183px;
  height: 56px;
  padding: 16px;
  font-size: 21px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.add-task-footnote-container button img {
  height: 20px;
  width: 20px;
}

sup {
  color: #FF8190;
}

.blue-border {
  border: 1px solid #29ABE2 !important;
}

.red-border {
  border: 1px solid #FF8190 !important;
}

#category {
  background-color: white;
}

#assigned-to-btn,
#category-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-input-placeholder);
  border-radius: 10px;
}

#assigned-to-btn #buttontext,
#category-btn div {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #a8a8a8;
}

#category-dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 24px;
}

#category-dropdown-menu span {
  margin: 5px 0;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

#category-dropdown-menu span:active {
  background-color: var(--color-primary);
  color: white;
}

#contacts-to-assign-container {
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  max-height: 250px;
  overflow-y: scroll;

}

#contacts-to-assign-list {
  list-style-type: none;
  padding-left: 0;

}

#contacts-to-assign-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin-bottom: 24px;
}

.nameFrame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  margin-left: 16px;
}

.listItem img {
  margin-right: 28px;
}

.checked {
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
}

#buttontext {
  display: flex;
  gap: 10px;
}

.contact-circle {
  background-color: darkblue;
  height: 42px;
  margin: 8px;
  width: 42px;
  border-radius: 100%;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-size: 12px;
}

#contact-circles-container,
.subtask-button-container {
  display: flex;
  flex-wrap: wrap;
}

.input-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-input-placeholder);
  border-radius: 10px;
  height: 48px;
  background-color: white;
}

.input-button-container span {
  display: list-item;
  margin-left: 40px;
}

#subtasks-list .input-button-container {
  border: none;
  background-color: transparent;
  width: 100%;
}

#subtasks-list-container {
  max-height: 175px;
  overflow-y: scroll;
}


.subtasks-container input {
  flex: 1;
  border: none;
}

.input-button-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 16px;
}

.subtask-button-container img {
  height: 24px;
  width: 24px;
}

#subtaskChangeInput {
  border-radius: 0;
  border-bottom: #29ABE2 solid 1px;
}

.assigned-contacts-button {
  background-color: var(--color-primary);
  color: white;
  min-width: 100px;
  border-radius: 10px;
  padding: 4px;
  font-size: 12px;
  border: 1px black solid;
}

.assigned-contacts-button button {
  background-color: transparent;
  border: none;
}

.separator {
  height: 24px;
  border: solid 1px #D1D1D1;
}

#task-created-container{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; 
  width: 600px; 
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.747);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.308);
}
#task-created-container span{
  font-weight: 900;
  font-size: 32px;
  color: var(--color-primary);
}

.overlay-task-edit {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
#edit-task-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 396px;
  padding: 32px 24px;
  border-radius: 30px;
  background-color: var(--color-white);
  animation: slideInFromRight 0.2s ease-out;
}


.edit-footnote-button {
  position: relative;
  scale: 0.55;
  bottom:auto;
  background-color: white;
}

.no-margin-and-height{
  margin-top: 0;
  height: auto;
}

.margin-bottom-no-height{
  margin-bottom: 20px;
  height: auto !important;
}

@media (min-width: 1440px) {
  .task-input-container .assigned-to-container {
    height: 100px;
    margin-bottom: 230px;
  }
  .task-input-container{
    margin-bottom: 70px !important;
  }

  .title-container, .description-container, .prio-container, .due-date-container, .category-container, .assigned-to-container, .subtasks-container {
    width: 45%;
  }
  

  .add-task-container input,
  select,
  #assigned-to-btn,
  #category-btn {
    height: 48px;
  }


  .subtasks-container input {
    height: 46px
  }

  .add-task-container input,
  textarea,
  select,
  #highPrioButtonFont,
  #mediumPrioButtonFont,
  #lowPrioButtonFont,
  #category-dropdown-menu,
  #assigned-to-btn #buttontext,
  #category-btn div,
  #contacts-to-assign-container,
  .input-button-container {
    font-size: 20px;
  }

  .add-task-container {
    display: flex;
    flex-direction: column;
    margin-top: 206px;
    margin-left: 328px;
    width: calc(100% - 328px);
  }

  .add-task-footnote-container {
    width: calc(100% - 328px - 136px);
    bottom: 0px;
  }

  .add-task-container h1 {
    margin-top: 0;
    margin-bottom: 48px;
    padding-left: 0;
    font-size: 61px;
  }

  .task-input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    max-width: 1400px;
  }

  .title-container,
  .description-container,
  .assigned-to-container {

    padding-right: 48.5px;
  }

  .due-date-container,
  .prio-container,
  .category-container,
  .subtasks-container {

    margin-left: 48.5px;
    margin-right: 135.75px;
  }

  .listItem:hover {
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .assigned-contacts-button,
  img {
    cursor: pointer;
  }

  .title-container {
    order: 1;
    border-right: 1px solid #D1D1D1;
    height: 112px !important;
    margin-bottom: 0 !important;
  }

  .description-container {
    order: 2;
    border-right: 1px solid #D1D1D1;
    height: 128px !important;
    margin-bottom: 0 !important;
  }

  .assigned-to-container {
    order: 3;
    height: 128px !important;
    border-right: 1px solid #D1D1D1;
  }

  .due-date-container {
    order: 4;
  }

  .prio-container {
    order: 5;
  }

  .category-container {
    order: 6;
  }

  .subtasks-container {
    order: 7;
  }
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 28px;
  height: 28px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 70px solid #A8A8A8;
  border-radius: 76px;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 50px;
}



/***** end styles for addtask.html ****/

/***** Media Querys ****/

@media (min-width: 1440px) {
  .navigation {
    background-color: var(--color-primary);
    height: 100vh;
    width: 232px;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .navbox {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-radius: 0;
    width: 100%;
    height: 46px;
    text-decoration: none;
    padding-left: 56px;
  }

  .navbox:hover {
    background-color: var(--color-second-hover);
  }

  .img-cnt {
    height: 121px;
    display: flex;
    justify-content: center;
    margin: 64px 0 114px 0;
  }

  .logo-desktop {
    height: 100%;
    object-fit: cover;
  }

  .desktop-user-notices-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    bottom: 64px;
    padding-left: 56px;
  }

  .notices-link {
    color: #a8a8a8;
    text-decoration: none;
    font-weight: 400;
  }

  .notices-link:hover {
    color: var(--color-hover);
    text-decoration: none;
    font-weight: 700;
  }

  header {
    padding: 20px 40px;
    z-index: 0;
  }

  .header-logo {
    display: none;
  }

  .h4-header {
    display: block;
    margin-left: 308px;
  }

  .user-circle {
    width: 56px;
    height: 56px;
    font-size: 20px;
    border: 3px solid black;
    cursor: pointer;
  }

  .user-circle:hover {
    background-color: #f6f7f8;
  }

  .help-button {
    display: block !important;
    position: absolute;
    right: 118px;
    height: 20px;
  }

  .help-button:hover {
    transform: scale(1.2);
  }

  .hidden-box {
    top: 96px;
  }

  .privay-policy {
    padding-left: 328px;
    max-width: 1328px;
  }

}

@media (max-width: 460px) {
  .add-task-footnote-container .clear-create-button-container{
    transform: scale(0.7);
  }
  .add-task-footnote-container{
    display: block;
  }

  .add-task-footnote-container button{
    font-size: 18px;
    padding: 10px;
  }
  }
