<header>
    <img src="./assets/img/logo.png" alt="logo-small" class="header-logo">
    
    <h4 class="h4-header">Kanban Project Management Tool</h4>
    <div id="user-circle" class="user-circle" onclick="showMenu()"></div>
    
    <a href="help.html" class="help-button d-none"><img src="./assets/img/help.png" alt="help"></a>
    <div id="hidden-box" class="hidden-box d-none">
        <div id="user-menu" class="user-menu">
            <a href="legalNotice.html">Legal Notice</a>
            <a href="pivacypolicy.html">Privacy Policy</a>
            <a href="index.html" onclick="userLogout()">Log out</a>
        </div>
    </div>
</header>