<navigation class="navigation" id="navigation">
    <div class="img-cnt">
        <img src="./assets/img/logo-desktop.png" class="logo-desktop">
    </div>
    <a href="summary.html" class="navbox" id="summary-link">
        <img src="./assets/img/summary.png">
        <h5>Summary</h5>
    </a>
    <a href="board.html" class="navbox" id="board-link">
        <img src="./assets/img/board.png">
        <h5>Board</h5>
    </a>
    <a href="addtask.html" class="navbox" id="addtask-link">
        <img src="./assets/img/edit.png">
        <h5>Add Tasks</h5>
    </a>
    <a href="contact.html" class="navbox" id="contact-link">
        <img src="./assets/img/contacts.png">
        <h5>Contacts</h5>
    </a>
    <div class="desktop-user-notices-box">
        <a href="pivacypolicy.html" class="notices-link">Privacy Policy</a>
        <a href="legalNotice.html" class="notices-link">Legal Notice</a>
    </div>
</navigation>